<!DOCTYPE html>
<html>
<head>
    <title>Really Good Boys</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/javascript" href="js/functions.js" />

    <br>
    <table class="headerTable"><tr><td><h1>The Good Boys</h1></td></tr></table>
    <table class="topcorner"><tr><td><h5><a>Log Out</a></h5></tr></td></table>
</head>

<body>
    <br />
    <h2 align="center">Account Information</h2>
    <br />
    <form>
        <h3 style="padding-left:10%;">Personal Details</h3>
        <table align="center" style="background-color: whitesmoke;" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <div class="contact_form">
                            <ul>
                                <li>
                                    <label for="firstname">First Name: </label>
                                    <input type="text" name="firstname" placeholder="John" required />
                                </li>
                                <li>
                                    <label for="surname">Surname: </label>
                                    <input type="text" name="surname" placeholder="Doe" required />
                                </li>
                                <li>
                                    <label for="dob">Date of Birth: </label>
                                    <input type="date" name="dob" placeholder="01/01/1998" required />
                                </li>
                                <li>
                                    <label for="email">Email Address: </label>
                                    <input type="email" name="email" placeholder="example@example.com" required />
                                </li>
                                <li>
                                    <label for="phone">Phone Number: </label>
                                    <input type="tel" name="phone" placeholder="xxxx-xxx-xxx" required />
                                </li>
                                <li>
                                    <label for="address">Home Address: </label>
                                    <input type="text" name="address" placeholder="xx example st suburb" required />
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
		<br />
		<h3 style="padding-left:10%;">Set a Password</h3>
        <table align="center" style="background-color: whitesmoke;" cellpadding="0" cellspacing ="0">
            <tbody>
                <tr>
                    <td>
                        <div class="contact_form">
                            <ul>
                                <li>
                                    <label for="password">Confirm Password: </label>
                                    <input type="password" name="password" required/>
                                </li>
								<li>
                                    <label for="newpassword">New Password: </label>
                                    <input type="password" name="newpassword" />
                                </li>
                                <li>
                                    <label for="newpasswordconf">New Password Confirmation: </label>
                                    <input type="password" name="newpasswordconf" />
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <h3 style="padding-left:10%;">Page Layout (premium feature)</h3>
        <table align="center" style="background-color: whitesmoke;" cellpadding="0" cellspacing ="0">
            <tbody>
                <tr>
                    <td>
                        <div class="contact_form">
                            <ul>
                                <li>
                                    <label for="picture">Acount Profile: </label>
                                    <input type="file" name="picture" accept="image/*" />
                                </li>
								<li>
                                    <label for="header">Website Font Size: </label>
                                    <input type="range" name="points" min="12" max="30">
                                </li>
                                <li>
                                    <label for="header">Website Theme (header): </label>
                                    <input type="color" name="header" value="#808080" />
                                </li>
                                <li>
                                    <label for="background">Website Theme (background): </label>
                                    <input type="color" name="background" value="#D3D3D3" />
                                </li>
                                <li>
                                    <label for="text">Website Theme (text): </label>
                                    <input type="color" name="text" value="#000000" />
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br /><br />
		<button type="submit" style="float: right; margin-right: 10%;" class="button">Save</button>
		<button type="submit" style="float: right; margin-right: 0;" class="button">Reset</button>
        <button type="submit" style="float: right; margin-right: 0;" class="button">Back</button>
    </form>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <div class="footermain">
        <h6>&nbsp&nbsp&nbspTelephone: 1300 975 707 | Fax: 1-888-473-2963 | Facebook: <a href="https://www.facebook.com/groups/122820418378364">The Good Boys</a></h6>
    </div>
</body>
</html>
