{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Smart City 2.0</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <div class="header">
        <h1>Smart City 2.0</h1>
    </div>
</head>
<body>
<div class="main-content">
    <div class="nav-wrap">
        {% autoescape off %}
        {{ navBar }}
        {% endautoescape %}
    </div>
        {% block content %}

        {% endblock %}
        <br /><br />
</div>

<br /><br /><br /><br />

<div class="footermain">
  <h6>&nbsp&nbsp&nbspTelephone: 1300 975 707 | Fax: 1-888-473-2963 | Facebook: <a href="https://www.facebook.com/groups/122820418378364">The Good Boys</a> | <a href="/changelog">ChangeLOG</a> | <a href="TOS">Terms of Service</a></h6>
</div>
</body>
</html>
