<!-- This file is an extension of base.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

<!-- Main content -->
{% block content %}
<br>

<form method="post">
	<div class="form">
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
  <ul>
    <li>
      {{ field.label_tag }}
			{% render_field field %}
    </li>
  </ul>
  {% endfor %}
  </div>


    <button type="submit" style="float:right; margin-right: 5%">Submit</button>

</form>

<form action="/modify/password">
	<button type="submit" class="pretty-button" style="float:right; margin-right: 5px;">Change Password</button>
</form>
<form action="/modify/subscribe">
	<button type="submit" class="pretty-button" style="float:right; margin-right: 5px;">Subscribe to Updates</button>
</form>
<form action="/modify/unsubscribe">
	<button type="submit" class="pretty-button" style="float:right; margin-right: 5px;">Unsubscribe From Updates</button>
</form>
<form action="/modify">
	<button type="submit" class="pretty-button" style="float:right; margin-right: 5px;">Cancel</button>
</form>

<br>
<br>

{% endblock %}
