<!-- This file is an extension of base.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

<!-- Main content -->
{% block content %}

<div class="centered-content">
  <h3>Send Referal Link</h3>
</div>

<form method="post">
  <div class="form">
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
  <ul>
    <li>
      {{ field.label_tag }}
      {% render_field field %}
    </li>
  </ul>
  {% endfor %}
  </div>

  <div class="form-actions">
    <button type="submit" style="float:right; margin-right: 5%">Send</button>
  </div>
</form>

<br>
<br>

{% endblock %}
