{% extends 'base.html' %}
{% block content %}

    <div class="search-bar"> 
        <form type="get" action="." id="container">
            <input id="search-box" type="text" name="search-box" placeholder="Search a location name..."><br />
            <div class="search-checkboxes">
                <table class="checkbox-table">
                    <tr>
                        <td {{ style1 }}>
                            <input type="checkbox" name="foo" value="1" onClick="removeAllCheck()" {{ checked1 }}>Libraries</input>
                        </td>
                        <td {{ style2 }}>
                            <input type="checkbox" name="foo" value="2" onClick="removeAllCheck()" {{ checked2 }}>Hotels</input>
                        </td>
                        <td {{ style3 }}>
                            <input type="checkbox" name="foo" value="3" onClick="removeAllCheck()" {{ checked3 }}>Universities</input>
                        </td>
                        </td>
                        <td {{ style4 }}>
                            <input type="checkbox" name="foo" value="4" onClick="removeAllCheck()" {{ checked4 }}>Museums</input>
                        </td>
                        <td {{ style5 }}>
                            <input type="checkbox" name="foo" value="5" onClick="removeAllCheck()" {{ checked5 }}>Public Places</input>
                        </td>
                </table>
            </div>
            <input type="submit" value="Search" id="submit">
            {% autoescape off %}
            {{ notif }}
            {% endautoescape %}
        </form>
    </div>

<style>
#map-canvas {
    background-color: #BABABA;
    width: 100%;
    height: 300px;
    border-bottom: solid #BABABA 1px;
}
</style>

    <!-- MAP STUFF -->
	<script> 

		function initialize() {
		var marker;
		var map;
		var mapOptions = {
			zoom: 12,
//			center: new google.maps.LatLng({{latitude}},{{longitude}})
			center: new google.maps.LatLng(-27.4698, 153.0251)
		}
		map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

	  //var image = '/static/checkmark.png';

	  {% for point in points %}
		var myLatLng = new google.maps.LatLng({{ point.latitude }}, {{ point.longitude }});

		marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
			title: '{{ point.locationName }}',
			url: 'individual/{{point.id}}',
		});
		google.maps.event.addListener(marker, 'click', function() {
			window.location.href = this.url;
		});
	  {% endfor %}
	}

	</script>

    
	<div id="map-canvas"></div>
	<script type="text/javascript">

	var x = document.getElementById("demo");

		function getLocation() {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showPosition);
			} else { 
				x.innerHTML = "Geolocation is not supported by this browser.";
			}
		}

		function showPosition(position) {
			document.getElementById('latitude').value =  position.coords.latitude ;
			document.getElementById('longitude').value =  position.coords.longitude ;
			x.innerHTML = "Latitude: " + position.coords.latitude + 
			"<br>Longitude: " + position.coords.longitude;  
		}
	</script>


	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkVCuLeN13ZYSpn7TVq1IhjPO4TTzgFXw&callback=initialize">
    </script>


    {% if page > 1 %}
        <span class="next-page"><a class="pretty-button" href="/location/page-{{ page|add:-1 }}">Previous page?</a></button></span>
    {% endif %}

    {% autoescape off %}
        {{ errorMessage }}
    
        {% for location in locationList %}
            {{ location }}
        {% endfor %}
    
    {% endautoescape %}

    <!--  <span class="current-page">Current page: {{ page }}</span> -->
    
{% endblock %}

