{% extends 'base.html' %}
{% block content %}

    {% if page > 1 %}
        <span class="next-page"><a class="pretty-button" href="/location/page-{{ page|add:-1 }}">Previous page?</a></button></span>
    {% endif %}
    
    {% autoescape off %}
        {{ location1 }}
        {{ location2 }}
        {{ location3 }}
        {{ location4 }}
        {{ location5 }}
        {{ location6 }}
        {{ location7 }}
        {{ location8 }}
    {% endautoescape %}

    <span class="next-page"><a class="pretty-button" href="/location/page-{{ page|add:1 }}">Next page?</a></button></span>
    <span class="current-page">Current page: {{ page }}</span>
    
{% endblock %}
