{% extends 'base.html' %}
{% block content %}


    <div class="search-bar"> 
        <form type="get" action="." id="container">
            <input id="search-box" type="text" name="search-box" placeholder="Search a location name..."><br />
        </form>
        <form type="get" action="." id="container-auto">
            <div class="search-checkboxes">
                <table class="checkbox-table">
                    <tr>
                        <td>
                            <input type="checkbox" name="foo" value="1" onClick="removeAllCheck()" {{ checked1 }}>Libraries</input>
                        </td>
                        <td>
                            <input type="checkbox" name="foo" value="2" onClick="removeAllCheck()" {{ checked2 }}>Hotels</input>
                        </td>
                        <td>
                            <input type="checkbox" name="foo" value="3" onClick="removeAllCheck()" {{ checked3 }}>Universities</input>
                        </td>
                    </tr>
                    <tr>
                        </td>
                        <td>
                            <input type="checkbox" name="foo" value="4" onClick="removeAllCheck()" {{ checked4 }}>Museums</input>
                        </td>
                        <td>
                            <input type="checkbox" name="foo" value="5" onClick="removeAllCheck()" {{ checked5 }}>Public Places</input>
                        </td>
                </table>
            </div>
        </form>
        <input type="button" value="Search" id="submit" onclick="submitForms()">
    </div>


    {% if page > 1 %}
        <span class="next-page"><a class="pretty-button" href="/location/page-{{ page|add:-1 }}">Previous page?</a></button></span>
    {% endif %}

    {% autoescape off %}
        {{ errorMessage }}
    
        {% for location in locationList %}
            {{ location }}
        {% endfor %}
    
    {% endautoescape %}

    <!--  <span class="current-page">Current page: {{ page }}</span> -->

    <script language="javascript">
        submitForms = function(){
            document.getElementById("container").submit();
            document.getElementById("container-auto").submit();
        }

    </script>

    
{% endblock %}

