{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Really Good Boys</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
    <div class="header">
        <h1>The Good Boys</h1>
    </div>
</head>
<body>
<div class="main-content">
    <div class="nav-wrap">
         <ul><li class="right"><a href="/login/">Log in</a></li><li class="right"><a href="/signup/">Register</a></li><li><a href="/location/">Locations</a></li></ul>
    </div>
    {% block content %}

    {% endblock %}
    <br /><br />

</div>
    <br /><br /><br />
    <div class="footermain">
        <h6>&nbsp&nbsp&nbspTelephone: 1300 975 707 | Fax: 1-888-473-2963 | Facebook: <a href="https://www.facebook.com/groups/122820418378364">The Good Boys</a></h6>
	</div>
</body>
</html>

