<!-- This file is an extension of base.html -->
{% extends 'base.html' %}

<!-- Main content -->
{% block content %}
<div class="centered-content">
  <h1>Profile Information</h1>
</div>
<form>
  <div class="form">
    <ul>
      <li>
        <label>Username:</label><input type="text" placeHolder="{{ user }}" disabled />
      </li>
    </ul>
    <ul>
      <li>
        <label>First Name:</label><input type="text" placeHolder="{{ user.profile.firstName }}" disabled />
      </li>
    </ul>
    <ul>
      <li>
        <label>Last Name:</label><input type="text" placeHolder="{{ user.profile.lastName }}" disabled />
      </li>
    </ul>
    <ul>
      <li>
        <label>Email Address:</label><input type="text" placeHolder="{{ user.email }}" disabled />
      </li>
    </ul>
    <ul>
      <li>
        <label>Account Type:</label><input type="text" placeHolder="{{ user.profile.accountType }}" disabled />
      </li>
    </ul>
    <ul>
      <li>
        <label>Phone Number:</label><input type="text" placeHolder="{{ user.profile.phoneNumber }}" disabled />
      </li>
    </ul>
    <ul>
      <li>
        <label>Address:</label><input type="text" placeHolder="{{ user.profile.address }}" disabled />
      </li>
    </ul>
	</div>
</form>

<br />
<form action="/modify/del_user/" style="float:right; margin-right: 5%;">
	<button class="pretty-button" type="submit">Delete Profile</button>
</form>
<form action="/modify/edit_profile/" style="float:right; margin-right: 10px;">
	<button class="pretty-button" type="submit">Edit Profile</button>
</form>


   <br />
{% endblock %}
