{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Really Good Boys</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
</head>


<body>
    <div class="header">
        <h1>The Good Boys</h1>
    </div>
    <div class="nav-wrap">
        {% autoescape off %}
        {{ navBar }}
        {% endautoescape %}
    </div>

    <br />
	<h2 style="padding-left:10%;">About Us</h2>
    <table width="80%" align="center" style="background-color: lightsalmon;">
        <tbody>
            <tr>
                <td>
                    <p>We are a group of students who created this website to offer all of you the best information about favourite places in our beautiful Brisbane. You can find everything you are looking for, and also learn and give your experiences from card-holders reviews.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <h2 style="padding-left:10%;">History of Brisbane</h2>
    <table width="80%" align="center" style="background-color: lightgreen;">
        <tbody>
            <tr>
                <td>
                    <p>Brisbane's recorded history dates from 1799, when Matthew Flinders explored Moreton Bay on an expedition from Port Jackson, although the region had long been occupied by the Jagera and Turrbal aboriginal tribes. The town was conceived initially as a penal colony for British convicts sent from Sydney. Its suitability for fishing, farming, timbering, and other occupations, however, caused it to be opened to free settlement in 1838. The town became a municipality in 1859 and a consolidated metropolitan area in 1924. Brisbane encountered major flooding disasters in 1893, 1974 and 2011. Significant numbers of US troops were stationed in Brisbane during World War II. The city hosted the 1982 Commonwealth Games, World Expo 88, and the 2014 G20 Brisbane summit.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
	<h2 style="padding-left:10%;">Types of Accounts</h2>
    <table width="80%" align="center" style="background-color: lightblue;">
        <tbody>
            <tr>
                <td>
                    <p>Premium User:<br />Tourist:<br />Bussiness Man:<br />Student:</p>
                </td>
            </tr>
        </tbody>
    </table>

    <br /><br /><br /><br /><br />

    <div class="footermain">
	<h6>&nbsp&nbsp&nbspTelephone: 1300 975 707 | Fax: 1-888-473-2963 | Facebook: <a href="https://www.facebook.com/groups/122820418378364">The Good Boys</a></h6>
	</div>
</body>
</html>
