{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<h2 style="padding-left:10%;">About Us</h2>
    <table width="80%" align="center" style="background-color: lightsalmon;">
        <tbody>
            <tr>
                <td>
                    <p>We are a group of students who created this website to offer all of you the best information about favourite places in our beautiful Brisbane. You can find everything you are looking for, and also learn and give your experiences from card-holders reviews.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <h2 style="padding-left:10%;">History of Brisbane</h2>
    <table width="80%" align="center" style="background-color: lightgreen;">
        <tbody>
            <tr>
                <td>
                    <p>Brisbane's recorded history dates from 1799, when Matthew Flinders explored Moreton Bay on an expedition from Port Jackson, although the region had long been occupied by the Jagera and Turrbal aboriginal tribes. The town was conceived initially as a penal colony for British convicts sent from Sydney. Its suitability for fishing, farming, timbering, and other occupations, however, caused it to be opened to free settlement in 1838. The town became a municipality in 1859 and a consolidated metropolitan area in 1924. Brisbane encountered major flooding disasters in 1893, 1974 and 2011. Significant numbers of US troops were stationed in Brisbane during World War II. The city hosted the 1982 Commonwealth Games, World Expo 88, and the 2014 G20 Brisbane summit.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
	<h2 style="padding-left:10%;">Types of Accounts</h2>
    <table width="80%" align="center" style="background-color: lightblue;">
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>
                            <b>Businessman:</b> A businessman account has access to information about hotels and city information.
                        </li>
                        <li>
                            <b>Students:</b> A Student account has access to information about universities, museums and other city information.
                        </li>
                        <li>
                            <b>Tourist</b> A tourist account has access to Public Places with information.
                        </li>
                        <li>
                            <b>Premium:</b> A Premium account has access to all types of accounts and more features such as adjusting font sizes and page colour.
                        </li>
                        <li>
                            <b>Visitor:</b> Unregistered individuals able to access public features of the website.
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
