<!-- This file is an extension of base.html -->
{% extends 'base.html' %}

<!-- Main content -->
{% block content %}
	<div class="centered-content">
		<h2>Sign up</h2>
		<form method='post'>
			{% csrf_token %}
			{% for field in form %}
            <br />
				<p>
                {{ field.label_tag }} <br />
					{{ field }}
					{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
					{% endfor %}
				</p>
			{% endfor %}
            <br />
			<button class="pretty-button" type='submit'>Sign up</button><br />
		</form><br />
	</div>
{% endblock %}
