{% extends 'base.html' %}
{% block content %} 
<h2 style="width: 100%; text-align: center;">{{ locationName }}</h2>

<!--
<table align="center" class="info">
    <tbody>
        <tr>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>
-->
{{ locationImage }}

<h3 style="margin-left: 10%">Bio</h3>
<table class="info" width="80%" align="center">
    <tbody>
        <tr>
            <td>
                {{ locationBio }}
            </td>
        </tr>
    </tbody>
</table>
{% autoescape off %}
<!-- <table style="float: right; margin-right: 10%; padding-top: 0px; padding-bottom: 0px;">
    <tr>
    </tr>
</table>
-->
{{ tags }}
{% endautoescape %} 

<form>
    <h3 style="margin-left: 10%">Location Details</h3>
    <table class="info" width="80%" align="center">
        <tr>
            <td>
                {{ locationName }}
                <span style="float:right; color: #474747;">{{ locationType }}</span><br />
                <i>{{ locationAddress }}</i><br />
                <br />
                <hr />
            </td>
        </tr>
        <tr>
            <td>
        <br />
                <div class="centered-content">
                    <label for="picture">Upload your own Pictures of the Location:</label>
                    <input type="file" name="picture" accept="image/*" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                {{ customerPhotos }}
                <!--    <section id="photos">
                <img src="images/cat-2.jpg" alt="Serious cat">
                </section> -->
            </td>
        </tr>
    </table>

    <h3 style="margin-left: 10%">Reviews</h3>

    <table class="info" width="80%" align="center">
        <tr>
            <td>
                <h5 style="float: left; margin-left: 2%;">Example Review</h5>
                <div class="rate" style="float: right; margin-right: 2%;">
                    <input type="checkbox" id="st1" value="1" /> <!-- 5 Star if checked="checked" -->
                    <label for="st1"></label>
                    <input type="checkbox" id="st2" value="2" /> <!-- 4 Star if checked="checked" -->
                    <label for="st2"></label>
                    <input type="checkbox" id="st3" value="3" checked="checked" /> <!-- 3 Star if checked="checked" -->
                    <label for="st3"></label>
                    <input type="checkbox" id="st4" value="4" /> <!-- 2 Star if checked="checked" -->
                    <label for="st4"></label>
                    <input type="checkbox" id="st5" value="5" /> <!-- 1 Star if checked="checked" -->
                    <label for="st5"></label>
                </div>
            </td>
        </tr>
    </table>
        <br />
</form>

{% endblock %}
