<!DOCTYPE html>
<html>
<head>
    <title>Really Good Boys</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <br>
    <table class="headerTable"><tr><td><h1>The Good Boys</h1></td></tr></table>
    <button style="position:absolute; top: 10px; right: 10px;" class="button">Back</button>
</head>

<body>
    <br />
    <h2 style="width: 100%; text-align: center;">Location Name Place Holder</h2>

    <table align="center">
        <tbody>
            <tr>
                <td>
                    <img src="" alt="Location Image" />
                </td>
            </tr>
        </tbody>
    </table>

    <h3 style="margin-left: 10%">Bio</h3>

    <table width="80%" align="center">
        <tbody>
            <tr>
                <td>
                    Location Description
                </td>
            </tr>
        </tbody>
    </table>
    <table style="float: right; margin-right: 10%; padding-top: 0px; padding-bottom: 0px;">
        <tr>
            <td><p>Tag1</p></td>
            <td><p>Tag2</p></td>
            <td><p>Tag3</p></td>
        </tr>
    </table>

    <form>
        <h3 style="margin-left: 10%">Location Details</h3>
        <table width="80%" align="center">
            <tr>
                <td>
                    Location Name: <br />
                    Location Address: <br />
                    Email: <br />
                    <hr />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="picture">Upload your own Pictures of the Location:</label>
                    <input type="file" name="picture" accept="image/*" />
                </td>
            </tr>
            <tr>
                <td>
                    (Preview of Uploaded Image)
                </td>
            </tr>
            <tr>
                <td>
                    Customer Submitted Pictures of the Location
                </td>
            </tr>
            <tr>
                <td>
                    <br />

                    <section id="photos">
                        <img src="images/cat-1.jpg" alt="Cute cat"> <!-- Example of how to setout the photos-->
                        <img src="images/cat-2.jpg" alt="Serious cat">
                    </section>
                </td>
            </tr>
        </table>

        <h3 style="margin-left: 10%">Reviews</h3>
        <button style="float: left; margin-left: 10%;" class="button">Review</button>
        <br />
        <br />
        <br />
        <br />

        <table width="80%" align="center">
            <tr>
                <td>
                    <h5 style="float: left; margin-left: 2%;">Example Review</h5>
                    <div class="rate" style="float: right; margin-right: 2%;">
                        <input type="checkbox" id="st1" value="1" /> <!-- 5 Star if checked="checked" -->
                        <label for="st1"></label>
                        <input type="checkbox" id="st2" value="2" /> <!-- 4 Star if checked="checked" -->
                        <label for="st2"></label>
                        <input type="checkbox" id="st3" value="3" checked="checked" /> <!-- 3 Star if checked="checked" -->
                        <label for="st3"></label>
                        <input type="checkbox" id="st4" value="4" /> <!-- 2 Star if checked="checked" -->
                        <label for="st4"></label>
                        <input type="checkbox" id="st5" value="5" /> <!-- 1 Star if checked="checked" -->
                        <label for="st5"></label>
                    </div>
                </td>
            </tr>
        </table>
        <br />
        <table width="80%" align="center">
            <tr>
                <td>
                    <h5 style="float: left; margin-left: 2%;">Example Review</h5>
                    <div class="rate" style="float: right; margin-right: 2%;">
                        <input type="checkbox" id="st1" value="1" /> <!-- 5 Star if checked="checked" -->
                        <label for="st1"></label>
                        <input type="checkbox" id="st2" value="2" /> <!-- 4 Star if checked="checked" -->
                        <label for="st2"></label>
                        <input type="checkbox" id="st3" value="3" checked="checked" /> <!-- 3 Star if checked="checked" -->
                        <label for="st3"></label>
                        <input type="checkbox" id="st4" value="4" /> <!-- 2 Star if checked="checked" -->
                        <label for="st4"></label>
                        <input type="checkbox" id="st5" value="5" /> <!-- 1 Star if checked="checked" -->
                        <label for="st5"></label>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <br />
    <button style="float: right; margin-right: 50%;" class="button">Load More</button>

    <br /><br /><br /><br /><br /><br /><br /><br />

    <div class="footermain">
        <h6>&nbsp&nbsp&nbspTelephone: 1300 975 707 | Fax: 1-888-473-2963 | Facebook: <a href="https://www.facebook.com/groups/122820418378364">The Good Boys</a></h6>
    </div>
</body>
</html>
