{% extends 'base.html' %}
{% block content %} 
<h2 style="width: 100%; text-align: center;">{{ locationName }}</h2>

<!--
<table align="center" class="info">
    <tbody>
        <tr>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>
-->
{{ locationImage }}

<h3 style="margin-left: 10%">Bio</h3>
<table class="info" width="80%" align="center">
    <tbody>
        <tr>
            <td>
                {{ locationBio }}
            </td>
        </tr>
    </tbody>
</table>
{% autoescape off %}
<!-- <table style="float: right; margin-right: 10%; padding-top: 0px; padding-bottom: 0px;">
    <tr>
    </tr>
</table>
-->
{{ tags }}
{% endautoescape %} 

<form>
    <h3 style="margin-left: 10%">Location Details</h3>
    <table class="info" width="80%" align="center">
        <tr>
            <td>
                {{ locationName }}
                <span style="float:right; color: #474747;">{{ locationType }}</span><br />
                <i>{{ locationAddress }}</i><br />
                <br />
                <hr />
            </td>
        </tr>
        <tr>
            <td>
        <br />
                <div class="centered-content">
                    <label for="picture">Upload your own Pictures of the Location:</label>
                    <input type="file" name="picture" accept="image/*" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                {{ customerPhotos }}
                <!--    <section id="photos">
                <img src="images/cat-2.jpg" alt="Serious cat">
                </section> -->
            </td>
        </tr>
    </table>

    <h3 style="margin-left: 10%">Reviews</h3>
    {% autoescape off %}
        {% for review in ReviewList %}
            {{ review }}
        {% endfor %}
    {% endautoescape %}

        <br />
</form>

<h3 style="text-align:center;">Leave a Review</h3>
<form method="post" accept-charset="utf-8">
    <div class="centered-content">
    {% csrf_token %}
    {% for field in form %}
    <br />
        <p>
        {{ field.label_tag }} <br />
            {{ field }}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <br />
    <button class="pretty-button" type='submit'>Leave Review</button><br />
    </div>
</form>


{% endblock %}
