{% extends 'loginBase.html' %}
{% load widget_tweaks %}

{% block content %}
<center>
	<h3>Login</h3>

<form method="post">
  <div class="form" style="margin-right: 220px">
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
  <ul>
    <li>
      {{ field.label_tag }}
      {% render_field field %}
    </li>
  </ul>
  {% endfor %}
  </div>

  <div class="form-actions">
    <button type="submit">Login</button>
  </div>
  </center>
</form>

<br />
<br />

{% endblock %}
